@font-face {
	font-family: 'segoeui';
	src: url("SegoeUI-Light.eot");
	src: local("Segoe UI Light"), local("SegoeUI-Light"),
		url("libs/segoeui/SegoeUI-Light.eot?#iefix") format("embedded-opentype"),
		url("libs/segoeui/SegoeUI-Light.woff") format("woff"),
		url("libs/segoeui/SegoeUI-Light.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

a,
button {
    font-family: "segoeui";
}

a {
    text-decoration: none;
}

ul, 
body,
h1,
h2,
p {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

li {
    list-style: none;
}

.bg-pink {
    position: absolute;
    z-index: -1;
    width: 100%;
    max-height: 590px;
}

.container {
    max-width: 1024px;
    margin: auto;
}

/* HEADER STYLES */

.header {
    background: #ffffffe6;
    padding: 20px 15px;
    box-shadow: 0 1px 4px #00000057;
}

.header__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    margin-left: auto;
}

.header__menu {
    display: flex;
    margin-right: 40px;
}
.header__menu-link {
    display: block;
    padding: 10px 18px;
    color: #454545;
    font-weight: bold;
    font-size: 17px;
    opacity: 0.75;
}

.header__menu-item:last-child .header__menu-link{
    padding-right: 0;
}

.header__login {
    border: none;
    background: #d3756f;
    padding: 5px 10px;
    color: white;
    border-radius: 3px;
    font-weight: 600;
    font-size: 17px;
    cursor: pointer;
    transition: 0.5s;
}

.header__login-icon {
    margin-right: 5px;
}

.header__menu-link:hover {
    text-decoration: underline;
}

.header__login:hover {
    background: #b85663;
}

/* BANNER STYLES */

.banner {
    text-align: center;
    color: white;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin-top: 280px;
    margin-bottom: 85px;
}

.banner__main {
    font-size: 70px;
    text-transform: uppercase;
    margin: 0 0 18px 0;
}

.banner__text {
    font-size: 25px;
    margin: 0;
    font-weight: normal;
}

/* MAIN CONTENT STYLES */
/* banner content styles */

.banner-content {
    text-align: center;
}

.banner-content__main {
    padding: 65px 0 30px 0;
    margin: 0;
    font-size: 35px;
    font-weight: normal;
}

.categories {
    margin-top: 85px;
}

.categories__nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.categories__link {
    display: flex;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    position: relative;
    margin: 8px;
}

.categories__title {
    margin-top: 10px;
}

.categories__link_bg-blue {
    background: #60bef7;
}
.categories__link_bg-green {
    background: #87b800;
}
.categories__link_bg-red {
    background: #ef6349;
}
.categories__link_bg-orange {
    background: #dd8f00;
}

.categories__desk {
    display: none;
    width: 125px;
    height: 90px;
    font-size: 12px;
    text-align: center;
    position: absolute;
}

.categories__link:hover .categories__desk {
    display: block;
}

.categories__link:hover .categories__img,
.categories__link:hover .categories__title {
    opacity: 0.5;
}

/* ARTICLES STYLES */

.articles {
    margin-top: 95px;
    padding-left: 65px;
}
.article {
    margin-bottom: 75px;
    display: flex;
}

.article__block {
    margin-left: 25px;
}

.article__main {
    font-weight: normal;
    font-size: 27px;
    margin-bottom: 20px;
}

.article__desk {
    color: #8b8b8b;
}

/* FOOTER */

